

/*News-stylesheets-include-here*/
#news {
	text-align:center;
	padding:inherit;
}
.news-info {
	text-align:left;
}
.news-info h5 {
	font-weight:bold;
	padding-top:10px;
}
.news-info i.fa {
	float:left;
	margin-right:10px;
	color:#777;
}
.news-info h6 {
	margin:0;
	color:#666;
	float:left;
}
.news-info h6:hover, .news-info h5:hover {
	color:#e73131;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}


.data-meta {
	background:#444;
	font-size: 15px;
	color: #FFF;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 6px 15px
}
.data-meta h4 {
	color:#FFFFFF;
	margin:0;
	font-size:18px;
	font-weight:bold;
}
a.btn-blg {
	color:#666;
}
a.btn-blg:hover {
	color:#e73131;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.news-info p {
	text-align:left;
	padding-top:5px;
}
.news-info ul.news-icon {
	margin:0;
	padding:0;
}
.news-info ul li {
	display:inline-block;
}
.news-info ul li.comment {
	margin-left:10px;
}