---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageHeader from '../components/PageHeader.astro';
import PartnersCarousel from '../components/PartnersCarousel.astro';
import { getSocios } from '../lib/strapi';

export const prerender = false;

const socios = await getSocios();
---

<BaseLayout title="INSESO - Afiliación - Autónomo" currentPath="/afiliacionee_autonomo">
  <PageHeader
    imageSrc="/images/trabajadores/img_silder_trabaja_02.jpg"
    imageAlt="Afiliación Autónomos - INSESO"
  />

  <div class="container">
    <div class="about-main">
      <div class="row">
        <div class="col-lg-6">
          <h2>Inscripción de Autónomos</h2>

          <div class="card my-4">
            <h4 class="card-header">Usted es un empresario autónomo</h4>
            <div class="card-body">
              <ul>
                <li><h6>Solicitud dirigida a la Autoridad del Delegado Nacional/Regional o Provincial.</h6></li>
                <li><h6>Rellenar ficha de registro de empresa</h6></li>
                <li><h6>Copia de NIF.</h6></li>
                <li><h6>*Copia de registro de comercio</h6></li>
                <li><h6>Copia de D.I.P/Pasaporte o Residencia del responsable de la empresa.</h6></li>
                <li><h6>Listado de los trabajadores y sus salarios.</h6></li>
                <li><h6>Copia del estatuto de la empresa.</h6></li>
              </ul>
            </div>
          </div>

          <div class="card my-4">
            <h4 class="card-header">Baja De Empresa Autónoma</h4>
            <div class="card-body">
              <ul>
                <li><h6>Solicitud dirigida a la Autoridad del Delegado Nacional/Regional O provincial</h6></li>
                <li><h6>Copia Baja concedida por la Dirección General de Impuestos y Contribuciones</h6></li>
                <li><h6>Copias de liquidaciones de los trabajadores (finiquitos) entrega a los mismos o debidamente refrendados por el Mº de Trabajo y Seguridad Social</h6></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="/images/trabajadores/img_trabaja_02.jpg" alt="Afiliación Autónomos" />
        </div>
      </div>
    </div>
  </div>

  <PartnersCarousel socios={socios} />
</BaseLayout>
