---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="INSESO - Afiliación - Trabajadores" currentPath="/afiliacionee_trabajadores">
<div class="full-title">
		<div class="container">
			<img class="img-fluid" src="/images/trabajadores/img_silder_trabaja_01.jpg" alt=""/>
		</div>
	</div>

    <div class="container">
		<div class="about-main">
			<div class="row">
				<div class="col-lg-6">
					<h2>Afiliación de los Trabajadores</h2>
					<p>Es el acto por el que un trabajador, ya sea por cuenta ajena en el sector privado o público o por cuenta propia, se inscribe oficialmente en el INSESO para poder recibir protección social : pensión, asistencia sanitaria, subsidio de enfermedad o accidente, prestaciones familiares, etc.</p>
					<div class="card my-4">
						<h4 class="card-header">Sector Privado Y Autónomo</h4>
						<div class="card-body">
							<ul>
								<li><h6>Rellenar ficha de afiliación</h6></li>
								<li><h6>Copia de D.I.P/Pasaporte o Residencia para extranjeros</h6></li>
								<li><h6>Una (1) foto tamaño carné</h6></li>
								<li><h6>**Copia del contrato de trabajo</h6></li>
							</ul>
						</div>
					</div>
					<div class="card my-4">
						<h4 class="card-header">Sector publico</h4>
						<div class="card-body">
							<ul>
								<li><h6>Copia del nombramiento o contrato</h6></li>
								<li><h6>Copia TRES (3) últimas nominas</h6></li>
								<li><h6>Copia del D.I.P/Pasaporte</h6></li>
								<li><h6>Rellenar ficha de afiliación</h6></li>
								<li><h6>Una (1) foto tamaño carné</h6></li>
							</ul>
						</div>
					</div>
					<div class="card my-4">
						<h4 class="card-header">Trabajador Autonomo Y/O Profesional De Libre Ejercicio</h4>
						<div class="card-body">
							<ul>
								<li><h6>Solicitud dirigida a la Autoridad del Delegado Nacional/Regional o Provincial.</h6></li>
								<li><h6>Certificado médico</h6></li>
								<li><h6>Declaración del salario, el mínimo actual reconocido es de 300 000 FCFAs.</h6></li>
								<li><h6>Copia del D.I.P/ Pasaporte o Residencia para expatriados</h6></li>
								<li><h6>Rellenar ficha de afiliación</h6></li>
							</ul>
						</div>
					</div>
				</div>			
				
				<div class="col-lg-6">
					<img class="img-fluid rounded mb-4" src="/images/trabajadores/img_trabaja_01.png" alt=""/>
					
					<h4 class="card-header">Baja del trabajador</h4>
					<div class="card-body">
						<ul>
							<li><h6>Solicitud dirigida a la Autoridad del Delegado Nacional/Regional o Provincial</h6></li>
							<li><h6>Copia carta de despido por razones que fueran con entrega Y recibí del trabajador</h6></li>
							<li><h6>Copia liquidación practicada ( finiquito) con entrega al trabajador</h6></li>
						</ul>
					</div>
					
					<hr>					
					<img class="img-fluid rounded mb-4" src="/images/trabajadores/Solicitud.png" alt=""/>					
				</div>
				
			</div>
		</div>			
	</div>
	
	<div class="customers-box"> 
		<div class="container">
			<hr>
			<h2>NUESTROS SOCIOS</h2>
			<div class="row">
				<div class="col-lg-12">
					<div id="customers-slider" class="owl-carousel">
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_00.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_01.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_00.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_01.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_00.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_01.jpg" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</BaseLayout>

<script is:inline src="/js/owl.carousel.min.js"></script>
<script is:inline src="/js/owl.carousel_2.js"></script>
<script is:inline src="/js/script.js"></script>

<script is:inline>
	(function($) {
		$(document).ready(function() {
			if ($("#customers-slider").length) {
				$("#customers-slider").owlCarousel({
					items: 5,
					loop: true,
					margin: 15,
					nav: false,
					dots: false,
					autoplay: true,
					autoplayTimeout: 2500,
					responsive: {
						0: { items: 2 },
						650: { items: 2 },
						768: { items: 3 },
						1000: { items: 4 },
						1200: { items: 5 }
					}
				});
			}
		});
	})(window.jQuery);
</script>
