---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroCarousel from '../components/HeroCarousel.astro';
import BlogSlider from '../components/BlogSlider.astro';
---

<BaseLayout title="INSESO - Inicio" currentPath="/">
	<HeroCarousel />

	<div class="container">
		<div class="portfolio-main">
			<h2>JUNTOS EN CADA ESTAPA DE TU VIDA</h2>
		</div>
	</div>

	<BlogSlider />

	<div class="blog-main">
		<div class="container">
			<div class="row">
				<div class="col-md-8 blog-entries">
					<div class="card mb-4">
						<br>
						<img class="card-img-top" src="/images/img_acc_04.jpg" alt="Card image Blog" />
						<div class="card-body">
							<h2 class="card-title">AFILIACION</h2>
							<p class="card-text">La función principal de la afiliación a la seguridad social es incorporar a una persona al sistema de seguridad social y, por lo tanto, garantizar su acceso a las prestaciones y servicios que este ofrece. La afiliación es obligatoria para las personas que realizan una actividad laboral que las incluye en el sistema.</p>
							<a href="/condiciones_adhesion" class="btn btn-primary">Seguir leyendo &rarr;</a>
						</div>
					</div>
				</div>

				<div class="col-md-4 blog-right-side">
					<div class="card mb-4">
						<div class="card-img">
							<img class="img-fluid" src="/images/accueil/inicio_pub_01.gif" alt="" />
						</div>
					</div>
					<div class="card my-4">
						<h5 class="card-header">¿QUIEN DEBE AFILIARSE A LA SEGURIDAD SOCIAL?</h5>
						<div class="card-body">
							La persona que ejecuta una obra o presta servicios a otra en virtud de un contrato verbal o escrito, y que recibe un salario o remuneración a cambio.
						</div>
					</div>
				</div>
			</div>
			<hr>
		</div>
	</div>

	<div class="portfolio-col">
		<div class="container">
			<h2 class="card-header">NOVEDADES</h2>
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
					<div class="card h-100">
						<img class="card-img-top" src="/images/img_acc_05.jpg" alt="" />
						<div class="card-body">
							<h4><a href="#">PRESTACIONES DE MATERNIDAD</a></h4>
							<p>El derecho a las prestaciones familiares está sujeto a las siguientes condiciones :</p><br><br>
							<a href="/Subsidio_por_maternidad" class="btn btn-primary">Seguir leyendo &rarr;</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
					<div class="card h-100">
						<img class="card-img-top" src="/images/img_acc_06.jpg" alt="" />
						<div class="card-body">
							<h4><a href="#">PRESTACIÓN POR INVALIDEZ</a></h4>
							<p>La prestación por invalidez se otorgara en los casos de incapacidad parcial...</p><br><br>
							<a href="/Prestaciones_por_invalidez" class="btn btn-primary">Seguir leyendo &rarr;</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
					<div class="card h-100">
						<img class="card-img-top" src="/images/img_acc_07.jpg" alt="" />
						<div class="card-body">
							<h4><a href="#">PENSIÓN DE VEJEZ</a></h4>
							<p>Las pensiones de jubilación pueden pagarse a petición del trabajador...</p><br><br><br>
							<a href="/Pensión_por_vejez" class="btn btn-primary">Seguir leyendo &rarr;</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
					<div class="card h-100">
						<img class="card-img-top" src="/images/img_acc_08.jpg" alt="" />
						<div class="card-body">
							<h4><a href="#">PENSIÓN DE REVERSIÓN</a></h4>
							<p>En caso de fallecimiento de un trabajador en activo o jubilado, las pensiones normales de jubilación...</p><br>
							<a href="/Prestaciones_por_muerte_y_supervivencia" class="btn btn-primary">Seguir leyendo &rarr;</a>
						</div>
					</div>
				</div>
			</div>
			<hr>
		</div>
	</div>

	<div class="blog-main">
		<div class="container">
			<h2 class="card-header">NOTICIAS</h2>
			<div class="row">
				<div class="col-lg-8">
					<video controls width="100%" autoplay>
						<source src="/video/Felicitacion del ILMO. Señor Delegado Nacional a Su Excelencia Obiang Nguema Mbasogo..mp4" type="video/mp4">
					</video>
					<hr><p>MALABO, 26 DE JUNIO DE 2025 - 15.00 HORAS</p><hr>
					<p class="lead">En nombre del personal y en el suyo propio, El ILMO. Señor Delegado Nacional del Instituto de Seguridad Social (INSESO), dirige unas palabras a S.E por motivo del aniversario de su natalicio. </p>
					<p class="lead">Destacando que bajo su sabia dirección, nuestro país ha conocido avances notables en múltiples sectores, incluyendo la seguridad social, pilar fundamental del bienestar de nuestra población.</p>
					<p class="lead">Desde el INSESO, reafirmamos el compromiso de seguir trabajando con lealtad, responsabilidad y dedicación, en línea con las directrices de Su Excelencia, para consolidar un sistema de protección social sólido, justo y accesible para todos los ciudadanos.</p>
				</div>
				<div class="col-md-4 blog-right-side">
					<div class="card my-4">
						<h5 class="card-header">INSESO apuesta por modernizar sus hospitales y la formación de los sanitarios en 2026</h5>
						<img class="img-fluid" src="/images/accueil/inseso_noti_01.jpg" alt="" />
					</div>
					<div class="card my-4">
						<h5 class="card-header">INSESO detecta más de 2.000 pensionistas irregulares y se ahorra casi 4.000 millones de FCFA</h5>
						<img class="img-fluid" src="/images/accueil/inseso_noti_02.jpg" alt="" />
					</div>
				</div>
			</div>
			<h2 class="card-header">NOTICIAS DE ÚLTIMA HORA</h2>
		</div>
	</div>

	<section id="news">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4 news-sec">
						<div class="news-info">
							<img src="/images/info/inseso_info_3_agos_25.jpg" class="img-responsive" alt="">
							<div class="data-meta">
								<h4>AGOSTO</h4>
								<h4>03</h4><h4>2025</h4>
							</div><br>
							<a href="/información_1"><h2>Feliz día de Las Fuerzas Armadas de Guinea Ecuatorial.</h2></a>
							<p>El Instituto de Seguridad Social (INSESO) con su equipo médico conmemora y celebra con solidaridad, compromiso y servicio una fecha importante para nuestro país. ... </p>
							<a href="/información_1" class="btn btn-primary">Seguir leyendo &rarr;</a>
						</div><br>
					</div>
					<div class="col-md-4 news-sec">
						<div class="news-info">
							<img src="/images/info/inseso_info_7_agos_25.jpg" class="img-responsive" alt="">
							<div class="data-meta">
								<h4>AGOSTO</h4>
								<h4>07</h4><h4>2025</h4>
							</div><br>
							<a href="/información_2"><h2>INSESO refuerza la respuesta humanitaria</h2></a>
							<p>En el día de ayer, el equipo del INSESO encabezada por el Delegado Nacional, Moisés Angüe, y su adjunto, donaron en nombre de la institución un lote de materiales de ... </p>
							<a href="/información_2" class="btn btn-primary">Seguir leyendo &rarr;</a>
						</div><br>
					</div>
					<div class="col-md-4 news-sec">
						<div class="news-info">
							<img src="/images/info/inseso_info_18_jun_25.jpg" class="img-responsive" alt="">
							<div class="data-meta">
								<h4>JUNIO</h4>
								<h4>18</h4><h4>2025</h4>
							</div><br>
							<a href="/información_3"><h2>Visita del primer ministro a la farmacia.</h2></a>
							<p>El Primer Ministro Manuel Osa Nsue, visitó en el día de ayer los almacenes del Policlínico Dr. Loeri Comba, con motivo de la recepción de los primeros 7 contenedores ...</p>
							<a href="/información_3" class="btn btn-primary">Seguir leyendo &rarr;</a>
						</div><br>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="customers-box">
		<div class="container">
			<hr>
			<h2>NUESTROS SOCIOS</h2>
			<div class="row">
				<div class="col-lg-12">
					<div id="customers-slider" class="owl-carousel">
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_00.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_01.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_00.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_01.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_00.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_01.jpg" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</BaseLayout>

<script is:inline src="/js/imagesloaded.pkgd.min.js"></script>
<script is:inline src="/js/isotope.pkgd.min.js"></script>
<script is:inline src="/js/filter.js"></script>
<script is:inline src="/js/jquery.appear.js"></script>
<script is:inline src="/js/owl.carousel.min.js"></script>
<script is:inline src="/js/owl.carousel_2.js"></script>
<script is:inline src="/js/script.js"></script>

<script is:inline>
	// Asegurar que Owl Carousel se inicialice correctamente
	(function($) {
		$(document).ready(function() {
			// Blog slider
			if ($("#blog-slider").length) {
				$("#blog-slider").owlCarousel({
					items: 3,
					loop: true,
					margin: 15,
					nav: false,
					dots: false,
					autoplay: true,
					autoplayTimeout: 3000,
					responsive: {
						0: { items: 1 },
						650: { items: 1 },
						768: { items: 2 },
						1000: { items: 3 }
					}
				});
			}

			// Customers slider
			if ($("#customers-slider").length) {
				$("#customers-slider").owlCarousel({
					items: 5,
					loop: true,
					margin: 15,
					nav: false,
					dots: false,
					autoplay: true,
					autoplayTimeout: 2500,
					responsive: {
						0: { items: 2 },
						650: { items: 2 },
						768: { items: 3 },
						1000: { items: 4 },
						1200: { items: 5 }
					}
				});
			}
		});
	})(window.jQuery);
</script>
