---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="INSESO - Información" currentPath="/información_3">
<div class="full-title">
		<div class="container"><br>
			<h1 class="text_blanc">EN LOS PASILLOS</h1><br>
			<div class="breadcrumb-main">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Inicio</a></li>
					<li class="breadcrumb-item active">En portada</li>
				</ol>
			</div>
		</div>
	</div>

    <div class="blog-main">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<img class="img-fluid rounded" src="/images/info/Post_inseso_info_18_jun_25.jpg" alt="" />
					<hr>						
						<p>Publicado el 18 de junio de 2025 - 14:27</p>
					<hr>					
					<p>El Primer Ministro Manuel Osa Nsue, visitó en el día de ayer los almacenes del Policlínico Dr. Loeri Comba, con motivo de la recepción de los primeros 7 contenedores de medicamentos y material sanitario.
					Acompañado del Delegado Nacional Adjunto y la directiva del hospital, el Primer Ministro ha destacado el compromiso del Gobierno con la salud de los asegurados y la población de Guinea Ecuatorial. Señalando, además, la importancia de un mayor control del stock y sobre todo de la caducidad de los medicamentos.</p>

					<p>Se espera la llegada de más de 15 contenedores en total para abastecer los hospitales del INSESO.</p>
					<p>Reforzamos la transparencia y la distribución justa.</p>
					
				<hr>
			</div>

			<div class="col-md-4 blog-right-side">
			  <div class="card mb-4">
					<div class="card-img">
						<img class="img-fluid" src="/images/info/inseso_img_18_jun_25.jpg" alt="" />
					</div>
				</div>
				<div class="card my-4">
					<div class="card-body">
						<p>INSESO apoya las actividades del Gobierno con acciones humanitarias a los afectados de las inundaciones de Luba.</p>
					</div>
				</div>

			  <div class="card mb-4">
					<div class="card-img">
						<img class="img-fluid" src="/images/info/inseso_img2_18_jun_25.jpg" alt="" />
					</div>
				</div>
			</div>
		  </div>
		</div>
	</div>
</BaseLayout>
