---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="INSESO - Información" currentPath="/información_1">
<div class="full-title">
		<div class="container"><br>
			<h1 class="text_blanc">EN LOS PASILLOS</h1><br>
			<div class="breadcrumb-main">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Inicio</a></li>
					<li class="breadcrumb-item active">En portada</li>
				</ol>
			</div>
		</div>
	</div>

    <div class="blog-main">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<img class="img-fluid rounded" src="/images/info/Post_inseso_info_3_agos_25.jpg" alt="" />
					<hr>						
						<p>Publicado el 03 de agosto de 2025 - 13:18</p>
					<hr>					
					<p>INSESO apoya las actividades del Gobierno con acciones humanitarias a los afectados de las inundaciones de Luba.
					Junto a los compañeros de la Delegación Provincial de Luba, nos hemos sumado a las labores humanitarias en apoyo a los damnificados por la catástrofe que afectó a la ciudad el pasado fin de semana.</p>

					<p>En cumplimiento de nuestra misión  acompañar y brindar seguridad, se ha instalado un puesto temporal de primeros auxilios en la plaza central de Luba, donde un equipo de médicos del Policlinico Dr.Loeri Comba brinda asistencia.
					Paralelamente, otro equipo del Instituto trabaja en la rehabilitación del inmueble institucional, también afectado por las inundaciones, con el fin de reabrir sus puertas lo más pronto posible y continuar con la labor  de protección social.</p>
					
				<hr>
			</div>

			<div class="col-md-4 blog-right-side">
			  <div class="card mb-4">
					<div class="card-img">
						<img class="img-fluid" src="/images/info/inseso_img_3_agos_25.jpg" alt="" />
					</div>
				</div>
				<div class="card my-4">
					<div class="card-body">
						<p>El Instituto de Seguridad Social (INSESO) con su equipo médico conmemora y celebra con solidaridad, compromiso y servicio una fecha importante para nuestro país.</p>
					</div>
				</div>

			  <div class="card mb-4">
					<div class="card-img">
						<img class="img-fluid" src="/images/info/inseso_img2_3_agos_25.jpg" alt="" />
					</div>
				</div>
			</div>
		  </div>
		</div>
	</div>
</BaseLayout>
