---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="INSESO - Información" currentPath="/información_2">
<div class="full-title">
		<div class="container"><br>
			<h1 class="text_blanc">EN LOS PASILLOS</h1><br>
			<div class="breadcrumb-main">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Inicio</a></li>
					<li class="breadcrumb-item active">En portada</li>
				</ol>
			</div>
		</div>
	</div>

    <div class="blog-main">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<img class="img-fluid rounded" src="/images/info/Post_inseso_info_7_agos_25.jpg" alt="" />
					<hr>						
						<p>Publicado el 07 de agosto de 2025 - 09:17</p>
					<hr>					
					<p>En el día de ayer, el equipo del INSESO encabezada por el Delegado Nacional, Moisés Angüe, y su adjunto, donaron en nombre de la institución un lote de materiales de limpieza que incluían picos, palas, carretillas, rastrillos y otros productos para reforzar los esfuerzos de saneamiento de la ciudad. Este material fue recibido por el alcalde de Luba, Bienvenido Riema Luba.</p>

					<p>Durante su estancia en Luba, Moisés Angüe visitó el puesto provisional de primeros auxilios instalado en la plaza, donde se reunió con los especialistas de turno para agradecer su servicio a la comunidad en este momento difícil e instruirlos sobre la relevancia de su labor y la importancia de brindar todo el apoyo necesario a la ciudad.</p>
					
				<hr>
			</div>

			<div class="col-md-4 blog-right-side">
			  <div class="card mb-4">
					<div class="card-img">
						<img class="img-fluid" src="/images/info/inseso_img_3_agos_25.jpg" alt="" />
					</div>
				</div>
				<div class="card my-4">
					<div class="card-body">
						<p>INSESO apoya las actividades del Gobierno con acciones humanitarias a los afectados de las inundaciones de Luba.</p>
					</div>
				</div>

			  <div class="card mb-4">
					<div class="card-img">
						<img class="img-fluid" src="/images/info/inseso_img2_3_agos_25.jpg" alt="" />
					</div>
				</div>
			</div>
		  </div>
		</div>
	</div>
</BaseLayout>
