---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="INSESO - Pensión por Vejez" currentPath="/Pensión_por_vejez">
<div class="full-title">
		<div class="container"><br>
			<!-- Page Heading/Breadcrumbs -->
			<h1 class="text_blanc"> PENSIÓN POR VEJEZ </h1><br>
			<div class="breadcrumb-main">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Inicio</a></li>
					<li class="breadcrumb-item"><a href="/Prestaciones_Sociales">Prestaciones Sociales</a></li>
				</ol>
			</div>
		</div>
	</div>

    <div class="blog-main">
		<div class="container">
			<div class="row">
			<!-- Post Content Column -->
				<div class="col-lg-8">
					<!-- Preview Image -->
					<img class="img-fluid rounded" src="/images/prestaciones/prestaciones_detail_05.jpg" alt=""/>
					<hr>
					
					<blockquote class="blockquote">
						<p class="mb-0">La pensión por vejez se otorga al asegurado que hubiere cumplido la edad de sesenta años, y tuviese acreditados al menos, ciento veinte meses de cotización, de los cuales, sesenta correspondan a los diez años inmediatamente anteriores.</p><br>
						<footer class="blockquote-footer">La cuantía de la pensión de vejez con diez años de cotización, será el 40% del salario base medio de cotización calculado con arreglo al promedio de los últimos años.</footer>
					</blockquote>
					
			</div>
				
			<div class="col-md-4 blog-right-side">
				<div class="card my-4">
					<h5 class="card-header">Requisitos :</h5>
					<div class="card-body">
						<ul>
							<li><h6>Copia del DIP del beneficiario</h6></li>
							<li><h6>Copia del carnet de INSESO</h6></li>
							<li><h6>Tres últimas nominas</h6></li>
							<li><h6>Cesantía laboral</h6></li>
							<li><h6>Solicitud</h6></li>
						</ul>
					</div>
				</div>
			</div>
		  </div>
		</div>		
	</div>
	
	<div class="services-bar">
		<div class="container">
			<div class="row">
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_01.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Prestaciones Médico-Farmacéuticas </h4>
							<a href="/Prestaciones_Médico_Farmacéuticas" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_02.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Subsidio de incapacidad temporal </h4><br>
							<a href="/Subsidio_de_incapacidad_temporal" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_03.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Subsidio por maternidad </h4><br>
							<a href="/Subsidio_por_maternidad" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_04.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Prestaciones por invalidez </h4><br>
							<a href="/Prestaciones_por_invalidez" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>						
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_05.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Pensión por vejez </h4><br>
							<a href="/Pensión_por_vejez" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>						
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_06.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Prestaciones por muerte y supervivencia </h4>
							<a href="/Prestaciones_por_muerte_y_supervivencia" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_07.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Protección al empleo </h4><br>
							<a href="/Protección_al_empleo" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>						
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_08.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Subsidios familiares </h4><br>
							<a href="/Subsidios_familiares" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>						
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_09.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Servicios sociales </h4><br>
							<a href="/Servicios_sociales" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>
					</div>
			   </div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="customers-box"> 
			<hr>
			<h2>NUESTROS SOCIOS</h2>
			<div class="row">
				<div class="col-lg-12">
					<div id="customers-slider" class="owl-carousel">
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_00.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_01.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_00.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_01.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_00.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_01.jpg" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	
	<div class="touch-line">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
				   <p></p>
				</div>
				<div class="col-md-4">
				   <a class="btn btn-lg btn-secondary btn-block" href="#"> Contacte con nosotros </a>
				</div>
			</div>
		</div>
	</div>
</BaseLayout>

<script is:inline src="/js/owl.carousel.min.js"></script>
<script is:inline src="/js/owl.carousel_2.js"></script>
<script is:inline src="/js/script.js"></script>

<script is:inline>
	(function($) {
		$(document).ready(function() {
			if ($("#customers-slider").length) {
				$("#customers-slider").owlCarousel({
					items: 5,
					loop: true,
					margin: 15,
					nav: false,
					dots: false,
					autoplay: true,
					autoplayTimeout: 2500,
					responsive: {
						0: { items: 2 },
						650: { items: 2 },
						768: { items: 3 },
						1000: { items: 4 },
						1200: { items: 5 }
					}
				});
			}
		});
	})(window.jQuery);
</script>
