---
import BaseLayout from '../layouts/BaseLayout.astro';
import Breadcrumb from '../components/Breadcrumb.astro';
import PartnersCarousel from '../components/PartnersCarousel.astro';
import PrestacionesGrid from '../components/PrestacionesGrid.astro';

// Renderizar dinámicamente (SSR) para obtener datos frescos de Strapi
export const prerender = false;
---

<BaseLayout title="INSESO - Prestaciones Sociales" currentPath="/Prestaciones_Sociales">
<Breadcrumb
	title="PRESTACIONES SOCIALES"
	items={[]}
/>
	
    <div class="container">
		<img class="img-fluid rounded mb-4" src="/images/prestaciones/prestaciones_slider.gif" alt="" />
	</div>
	
	<div class="container">
		<h1 class="py-4">El régimen de Seguridad Social otorgará las siguientes prestaciones : </h1>
	</div>

	<PrestacionesGrid usarStrapi={true} />
	
	<PartnersCarousel />
</BaseLayout>
