---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="INSESO - Prestaciones por Muerte y Supervivencia" currentPath="/Prestaciones_por_muerte_y_supervivencia">
<div class="full-title">
		<div class="container"><br>
			<h1 class="text_blanc"> PRESTACIONES POR MUERTE Y SUPERVIVENCIA </h1><br>
			<div class="breadcrumb-main">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Inicio</a></li>
					<li class="breadcrumb-item"><a href="/Prestaciones_Sociales">Prestaciones Sociales</a></li>
				</ol>
			</div>
		</div>
	</div>

    <div class="blog-main">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<img class="img-fluid rounded" src="/images/prestaciones/prestaciones_detail_06.jpg" alt=""/>
					<hr>
					
					<blockquote class="blockquote">
						<p class="mb-0">En caso de muerte del asegurado o del pensionista cualquiera que fuera la causa, se otorgara las pensiones siguientes :</p><br>
						     1 - Por gastos de sepelio<br>
						     2 - Viudedad<br>
						     3 - Orfandad<br><br>
					</blockquote>
					
					<img class="img-fluid rounded" src="/images/prestaciones/prestaciones_detail_06_0.jpg" alt=""/>
					<hr>
					
					<blockquote class="blockquote">
						<p class="mb-0">La prestación por viudedad se otorgara al conyugue del causante. Esta prestación consistirá en :</p><br>
						<footer class="blockquote-footer">Un subsidio mensual del 40% del salario base de cotización, durante un periodo de veinticuatro meses, a la viuda menor de treinta años, sin hijos.</footer>
						<footer class="blockquote-footer">Una pensión del 40% del salario base de cotización a la viuda con hijos, mayor de treinta años, o inválida</footer>
						<footer class="blockquote-footer">Una pensión del 40% del salario base de cotización, al viudo invalido dependiente económicamente de la conyugue causante de la pensión.</footer>
					</blockquote>
					
			</div>
				
			<div class="col-md-4 blog-right-side">
				<div class="card my-4">
					<h5 class="card-header">Requisitos gastos de sepelio :</h5>
					<div class="card-body">
						<ul>
							<li><h6>Copia del certificado de defunción </h6></li>
							<li><h6>Copia del carnet del INSESO del causante si lo (tuviese) </h6></li>
							<li><h6>Copia del DIP del solicitante y del causante</h6></li>
							<li><h6>Copia del nombramiento del finado</h6></li>
							<li><h6>Las tres últimas nóminas de la tesorería</h6></li>
							<li><h6>Autorización manifiesta y firmada por los miembros de la familia del finado, en caso de que el solicitante no fuese pariente directo del finado (cada firmante ha de adjuntar su copia del DIP)</h6></li>
							<li><h6>Copia Del certificado de matrimonio (legalizado en el Mº de justicia), si lo solicitase la viuda </h6></li>
							<li><h6>Rellenar el impreso de solicitud dirigida al delegado nacional</h6></li>
						</ul>
					</div>
				</div>
				<div class="card my-4">
					<h5 class="card-header">Requisitos por orfandad :</h5>
					<div class="card-body">
						<ul>
							<li><h6>Certificado de defunción</h6></li>
							<li><h6>Carnet del INSESO del causante si lo tuviese</h6></li>
							<li><h6>Copia del DIP del solicitante y del causante</h6></li>
							<li><h6>Fe de vida (original y actualizada) por cada hijo/a</h6></li>
							<li><h6>Copia del extracto de acta de nacimiento, por cada hijo/a</h6></li>
							<li><h6>Copia del boletín, por cada hijo/a</h6></li>
							<li><h6>Copia del nombramiento del finado (si fuese funcionario) </h6></li>
							<li><h6>Las tres últimas nóminas de la tesorería (si fuese funcionario)</h6></li>
							<li><h6>Rellenar impreso de solicitud al Delegado Nacional</h6></li>
						</ul>
					</div>
				</div>
				<div class="card my-4">
					<h5 class="card-header">Requisitos por viudedad :</h5>
					<div class="card-body">
						<ul>
							<li><h6>Certificado de defunción</h6></li>
							<li><h6>Certificado de matrimonio legalizado en el Mº de justicia</h6></li>
							<li><h6>Fe de vida original y actualizada</h6></li>
							<li><h6>Copia del carnet del INSESO del causante si lo tuviese</h6></li>
							<li><h6>Copia del DIP del solicitante y del causante</h6></li>
							<li><h6>Rellenar impreso de solicitud dirigida al Delegado Nacional</h6></li>
						</ul>
					</div>
				</div>
			</div>
		  </div>
		</div>		
	</div>
	
	<div class="services-bar">
		<div class="container">
			<div class="row">
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_01.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Prestaciones Médico-Farmacéuticas </h4>
							<a href="/Prestaciones_Médico_Farmacéuticas" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_02.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Subsidio de incapacidad temporal </h4><br>
							<a href="/Subsidio_de_incapacidad_temporal" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_03.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Subsidio por maternidad </h4><br>
							<a href="/Subsidio_por_maternidad" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_04.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Prestaciones por invalidez </h4><br>
							<a href="/Prestaciones_por_invalidez" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>						
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_05.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Pensión por vejez </h4><br>
							<a href="/Pensión_por_vejez" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>						
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_06.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Prestaciones por muerte y supervivencia </h4>
							<a href="/Prestaciones_por_muerte_y_supervivencia" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_07.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Protección al empleo </h4><br>
							<a href="/Protección_al_empleo" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>						
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_08.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Subsidios familiares </h4><br>
							<a href="/Subsidios_familiares" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>						
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_09.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Servicios sociales </h4><br>
							<a href="/Servicios_sociales" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>
					</div>
			   </div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="customers-box"> 
			<hr>
			<h2>NUESTROS SOCIOS</h2>
			<div class="row">
				<div class="col-lg-12">
					<div id="customers-slider" class="owl-carousel">
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_00.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_01.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_00.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_01.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_00.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_01.jpg" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	
	<div class="touch-line">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
				   <p></p>
				</div>
				<div class="col-md-4">
				   <a class="btn btn-lg btn-secondary btn-block" href="#"> Contacte con nosotros </a>
				</div>
			</div>
		</div>
	</div>
</BaseLayout>

<script is:inline src="/js/owl.carousel.min.js"></script>
<script is:inline src="/js/owl.carousel_2.js"></script>
<script is:inline src="/js/script.js"></script>

<script is:inline>
	(function($) {
		$(document).ready(function() {
			if ($("#customers-slider").length) {
				$("#customers-slider").owlCarousel({
					items: 5,
					loop: true,
					margin: 15,
					nav: false,
					dots: false,
					autoplay: true,
					autoplayTimeout: 2500,
					responsive: {
						0: { items: 2 },
						650: { items: 2 },
						768: { items: 3 },
						1000: { items: 4 },
						1200: { items: 5 }
					}
				});
			}
		});
	})(window.jQuery);
</script>
