---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageHeader from '../components/PageHeader.astro';
import PartnersCarousel from '../components/PartnersCarousel.astro';
import { getSocios } from '../lib/strapi';

export const prerender = false;

const socios = await getSocios();
---

<BaseLayout title="INSESO - Solicitud de Carné" currentPath="/solicitud_de_carne">
  <PageHeader
    imageSrc="/images/trabajadores/img_silder_trabaja_02.jpg"
    imageAlt="Solicitud de Carné - INSESO"
  />

  <div class="container">
    <div class="about-main">
      <div class="row">
        <div class="col-lg-6">
          <h2>Solicitud de Carné de Afiliado</h2>
          <p>
            El carné de afiliado es el documento que acredita su inscripción en el INSESO y le permite
            acceder a las prestaciones y servicios de la seguridad social.
          </p>

          <div class="card my-4">
            <h4 class="card-header">Requisitos para solicitar el carné</h4>
            <div class="card-body">
              <ul>
                <li><h6>Copia de D.I.P/Pasaporte o Residencia</h6></li>
                <li><h6>Rellenar ficha de afiliación</h6></li>
                <li><h6>Una (1) foto tamaño carné</h6></li>
                <li><h6>Comprobante de afiliación o número de seguridad social</h6></li>
                <li><h6>5,000 FCFAs - Importe del carné</h6></li>
              </ul>
            </div>
          </div>

          <div class="card my-4">
            <h4 class="card-header">Duplicado de carné</h4>
            <div class="card-body">
              <p>En caso de pérdida o robo, debe presentar:</p>
              <ul>
                <li><h6>Denuncia policial</h6></li>
                <li><h6>Copia de D.I.P</h6></li>
                <li><h6>Nueva foto tamaño carné</h6></li>
                <li><h6>Pago del duplicado (3,000 FCFAs)</h6></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="/images/trabajadores/img_trabaja_02.jpg" alt="Carné INSESO" />

          <h4 class="card-header">Tiempo de entrega</h4>
          <div class="card-body">
            <p><strong>Plazo normal:</strong> 7-10 días hábiles<br>
            <strong>Urgente:</strong> 2-3 días hábiles (costo adicional)</p>
          </div>

          <hr>
          <img class="img-fluid rounded mb-4" src="/images/trabajadores/img_trabaja_03.jpg" alt="Oficinas INSESO" />
        </div>
      </div>
    </div>
  </div>

  <PartnersCarousel socios={socios} />
</BaseLayout>
