---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="INSESO - Subsidios Familiares" currentPath="/Subsidios_familiares">
<div class="full-title">
		<div class="container"><br>
			<!-- Page Heading/Breadcrumbs -->
			<h1 class="text_blanc"> SUBSIDIOS FAMILIARES </h1><br>
			<div class="breadcrumb-main">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Inicio</a></li>
					<li class="breadcrumb-item"><a href="/Prestaciones_Sociales">Prestaciones Sociales</a></li>
				</ol>
			</div>
		</div>
	</div>

    <div class="blog-main">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-8">					
					<img class="img-fluid rounded" src="/images/prestaciones/prestaciones_detail_08.jpg" alt=""/>
					<hr>					
					<blockquote class="blockquote">
						<p class="mb-0">Los subsidios familiares de protección a la familia se otorgaran a :</p>
						a)	Los asegurados casados, viudos con hijos y solteros con hijos naturales reconocidos en el momento del nacimiento de estos.<br>
						b)	Los asegurados que acrediten tener a su cargo exclusivo ascendientes o hermanos huérfanos.<br><br>
						
						Se otorgaran los subsidios familiares por menores de catorce años o mayores incapacitados o que estén cursando estudios.<br><br>
						El subsidio familiar se otorgara a través de un fondo familiar, distribuido por un sistema de puntos de evaluación familiar que determinara la cuantía de la prestación.
					</blockquote>					
				</div>
				
				<div class="col-md-4 blog-right-side">
					<div class="card my-4">
						<h5 class="card-header">CONDICIONES GENERALES:</h5>
						<div class="card-body">
							<ul>
								<li><h6>Estar afiliado al sistema de seguridad social</h6></li>
								<li><h6>Tener uno o varios hijos a cargo</h6></li>
								<li><h6>Haber declarado los hijos a la caja</h6></li>
							</ul>
						</div>
					</div>
					<div class="card my-4">
						<h5 class="card-header">BENEFICIARIOS A CARGO DEL TRABAJADOR</h5>
						<div class="card-body">
							<ul>
								A)	SUBSIDIO FAMILIAR<br>
								1)	HIJOS :
								<ul>
									<li><h6>Fe de Vida y Estado</h6></li>
									<li><h6>Cert. De Nacimiento</h6></li>
									<li><h6>Acta de Nacimiento</h6></li>
									<li><h6>Certificado académico ó Boletín de notas</h6></li>
									<li><h6>Cert. De Defunción para sobrinos huérfanos</h6></li>
								</ul>
								2)	ESPOSA :
								<ul>
									<li><h6>Certificado de matrimonio</h6></li>
									<li><h6>Fe de vida y Estado</h6></li>
									<li><h6>D.I.P</h6></li>
								</ul>
								3)	OTROS :
								<ul>
									<li><h6>Cert. De dependencia económica</h6></li>
									<li><h6>Fe de vida y Estado</h6></li>
									<li><h6>D.I.P</h6></li>
									<li><h6>Cert. De la relación familiar</h6></li>
								</ul>
							</ul>
							<hr>
							<hr>
							<ul>
								B)	MUERTE Y SUPERVIVENCIA<br>
								<ul>
									<li><h6>CERT. De Defunción(causante)</h6></li>
									<li><h6>Todos los requisitos enumerados en el apartado anterior (“A”) según el grado de familiaridad</h6></li>
								</ul>
							</ul>
						</div>
					</div>
				</div>
				
		  </div>
		</div>		
	</div>
	
	<div class="services-bar">
		<div class="container">
			<div class="row">
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_01.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Prestaciones Médico-Farmacéuticas </h4>
							<a href="/Prestaciones_Médico_Farmacéuticas" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_02.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Subsidio de incapacidad temporal </h4><br>
							<a href="/Subsidio_de_incapacidad_temporal" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_03.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Subsidio por maternidad </h4><br>
							<a href="/Subsidio_por_maternidad" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_04.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Prestaciones por invalidez </h4><br>
							<a href="/Prestaciones_por_invalidez" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>						
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_05.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Pensión por vejez </h4><br>
							<a href="/Pensión_por_vejez" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>						
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_06.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Prestaciones por muerte y supervivencia </h4>
							<a href="/Prestaciones_por_muerte_y_supervivencia" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_07.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Protección al empleo </h4><br>
							<a href="/Protección_al_empleo" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>						
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_08.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Subsidios familiares </h4><br>
							<a href="/Subsidios_familiares" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>						
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="/images/prestaciones/prestaciones_img_09.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Servicios sociales </h4><br>
							<a href="/Servicios_sociales" class="btn btn-primary">Descargar aquí &rarr;</a>
						</div>
					</div>
			   </div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="customers-box"> 
			<hr>
			<h2>NUESTROS SOCIOS</h2>
			<div class="row">
				<div class="col-lg-12">
					<div id="customers-slider" class="owl-carousel">
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_00.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_01.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_00.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_01.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_00.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="/images/partner/img_partner_logo_01.jpg" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	
	<div class="touch-line">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
				   <p></p>
				</div>
				<div class="col-md-4">
				   <a class="btn btn-lg btn-secondary btn-block" href="#"> Contacte con nosotros </a>
				</div>
			</div>
		</div>
	</div>
</BaseLayout>

<script is:inline src="/js/owl.carousel.min.js"></script>
<script is:inline src="/js/owl.carousel_2.js"></script>
<script is:inline src="/js/script.js"></script>

<script is:inline>
	(function($) {
		$(document).ready(function() {
			if ($("#customers-slider").length) {
				$("#customers-slider").owlCarousel({
					items: 5,
					loop: true,
					margin: 15,
					nav: false,
					dots: false,
					autoplay: true,
					autoplayTimeout: 2500,
					responsive: {
						0: { items: 2 },
						650: { items: 2 },
						768: { items: 3 },
						1000: { items: 4 },
						1200: { items: 5 }
					}
				});
			}
		});
	})(window.jQuery);
</script>
