---
// Footer component
---

<footer class="footer">
	<div class="container bottom_border">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6 col">
				<img class="card-img-top" src="/images/img_footer_01.png" alt="INSESO Logo" />
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6 col">
				<h5 class="headin5_amrc col_white_amrc pt2">Síganos en :</h5>
				<ul class="footer-social">
					<li><a class="facebook hb-xs-margin" href="https://www.facebook.com/share/19mnxTyaUk/" target="_blank"><span class="hb hb-xs spin hb-facebook"><i class="fab fa-facebook-f"></i></span></a></li>
					<li><a class="twitter hb-xs-margin" href="https://x.com/inseso_ge?s=21" target="_blank"><span class="hb hb-xs spin hb-twitter"><i class="fab fa-twitter"></i></span></a></li>
					<li><a class="instagram hb-xs-margin" href="https://www.instagram.com/inseso_ge?igsh=amVsczBpd3Fxc2N3" target="_blank"><span class="hb hb-xs spin hb-instagram"><i class="fab fa-instagram"></i></span></a></li>
				</ul>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<h5 class="headin5_amrc col_white_amrc pt2">Enlaces rápidos</h5>
				<ul class="footer_ul_amrc">
					<li><a href="/condiciones_adhesion"><i class="fas fa-long-arrow-alt-right"></i>CONDICIONES DE ADHESIÓN</a></li>
					<li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>PROCEDIMIENTO DE REGISTRO</a></li>
					<li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>CREAR UNA CUENTA</a></li>
				</ul>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6 ">
				<div class="news-box">
					<h5 class="headin5_amrc col_white_amrc pt2">Algunas sugerencias...</h5>
					<p>Si tienes alguna información, consejo o sugerencia sobre cómo gestionar mejor mi negocio con INSESO, ¡serás más que bienvenido! </p>
					<form action="#">
						<div class="input-group">
							<input class="form-control" placeholder="Buscar..." type="text">
							<span class="input-group-btn">
								<button class="btn btn-secondary" type="button">Enviar ...</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<p class="copyright text-center">Todos los derechos reservados. &copy; 2025 INSESO - Diseñado por : <a href="https://omnitechsl.com/" target="_blank">OMNITECH SL</a></p>
	</div>
</footer>
