---
// Navbar component - Barra de navegación principal
const { currentPath = '/' } = Astro.props;
---

<nav class="navbar navbar-expand-lg navbar-dark bg-light top-nav">
	<div class="container">
		<a class="navbar-brand" href="/">
			<img src="/images/logo.png" alt="logo" />
		</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="fas fa-bars"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class={`nav-link ${currentPath === '/' ? 'active' : ''}`} href="/">INICIO</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarDropdownBlog" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SOBRE NOSOTROS<i class="fas fa-sort-down"></i></a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
						<a class="dropdown-item" href="/sobre_nosotros"> PRESENTACIÓN</a>
						<a class="dropdown-item" href="/Prestaciones_Sociales"> PRESTATIONS SOCIALES</a>
						<a class="dropdown-item" href="/condiciones_adhesion"> CONDICIONES DE ADHESIÓN</a>
						<a class="dropdown-item" href="#"> NUESTRAS AGENCIAS</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarDropdownBlog" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ASEGURADOS<i class="fas fa-sort-down"></i></a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
						<a class="dropdown-item" href="/afiliacionee_trabajadores"> CONDICIONES DE ADHESIÓN</a>
						<a class="dropdown-item" href="#"> DESCARGA DE FORMULARIOS</a>
						<a class="dropdown-item" href="#"> DECLARACIÓN Y PAGO DE CONTRIBUCIONES</a>
						<a class="dropdown-item" href="#"> DECLARACIONES EN LÍNEA</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarDropdownBlog" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">EMPLEADORES<i class="fas fa-sort-down"></i></a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
						<a class="dropdown-item" href="/afiliacionee_empresas"> CONDICIONES DE ADHESIÓN</a>
						<a class="dropdown-item" href="#"> DESCARGA DE FORMULARIOS</a>
						<a class="dropdown-item" href="#"> DECLARACIÓN Y PAGO DE CONTRIBUCIONES</a>
						<a class="dropdown-item" href="#"> PENAS Y SANCIONES</a>
						<a class="dropdown-item" href="#"> DECLARACIONES EN LÍNEA</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarDropdownBlog" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ESPACIO EN LÍNEA<i class="fas fa-sort-down"></i></a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
						<a class="dropdown-item" href="#"> CREAR UNA CUENTA</a>
						<a class="dropdown-item" href="#"> ARCHIVO DE DOCUMENTOS</a>
						<a class="dropdown-item" href="#"> ESTADO DE CONTRIBUCIONES</a>
						<a class="dropdown-item" href="#"> RECLAMACIONES Y SEGUIMIENTO</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contacto">CONTACTO</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
