---
// TopBar component - Barra superior con redes sociales y contacto
import { contactInfo } from '../config/contact';
---

<div class="top-bar">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="social-media">
					<ul>
						<li><a href="https://www.facebook.com/share/19mnxTyaUk/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="https://x.com/inseso_ge?s=21" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="https://www.instagram.com/inseso_ge?igsh=amVsczBpd3Fxc2N3" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li><a href="/"><i class="fab fa-google-plus-g"></i></a></li>
						<li><a href="/"><i class="fab fa-linkedin-in"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="contact-details">
					<ul>
						<li><i class="fas fa-phone fa-rotate-90"></i> {contactInfo.national.phone}</li>
						<li><i class="fas fa-map-marker-alt"></i> {contactInfo.national.postalCode} {contactInfo.national.city} – {contactInfo.national.name}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
