---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PageHeader from '../../components/PageHeader.astro';
import PartnersCarousel from '../../components/PartnersCarousel.astro';
import { getSocios } from '../../lib/strapi';
import { getLangFromUrl, useTranslations, getLocalizedPath } from '../../i18n/utils';

export const prerender = false;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const socios = await getSocios();
---

<BaseLayout title={t('autonomousAffiliation.pageTitle')} currentPath={getLocalizedPath('/afiliacionee_autonomo', lang)}>
  <PageHeader
    imageSrc="/images/trabajadores/img_silder_trabaja_02.jpg"
    imageAlt={t('autonomousAffiliation.headerAlt')}
  />

  <div class="container">
    <div class="about-main">
      <div class="row">
        <div class="col-lg-6">
          <h2>{t('autonomousAffiliation.title')}</h2>

          <div class="card my-4">
            <h4 class="card-header">{t('autonomousAffiliation.entrepreneurTitle')}</h4>
            <div class="card-body">
              <ul>
                <li><h6>{t('autonomousAffiliation.req1')}</h6></li>
                <li><h6>{t('autonomousAffiliation.req2')}</h6></li>
                <li><h6>{t('autonomousAffiliation.req3')}</h6></li>
                <li><h6>{t('autonomousAffiliation.req4')}</h6></li>
                <li><h6>{t('autonomousAffiliation.req5')}</h6></li>
                <li><h6>{t('autonomousAffiliation.req6')}</h6></li>
                <li><h6>{t('autonomousAffiliation.req7')}</h6></li>
              </ul>
            </div>
          </div>

          <div class="card my-4">
            <h4 class="card-header">{t('autonomousAffiliation.terminationTitle')}</h4>
            <div class="card-body">
              <ul>
                <li><h6>{t('autonomousAffiliation.termReq1')}</h6></li>
                <li><h6>{t('autonomousAffiliation.termReq2')}</h6></li>
                <li><h6>{t('autonomousAffiliation.termReq3')}</h6></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="/images/trabajadores/img_trabaja_02.jpg" alt={t('autonomousAffiliation.imageAlt')} />
        </div>
      </div>
    </div>
  </div>

  <PartnersCarousel socios={socios} />
</BaseLayout>
