---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PageHeader from '../../components/PageHeader.astro';
import PartnersCarousel from '../../components/PartnersCarousel.astro';
import InfoCard from '../../components/InfoCard.astro';
import { getSocios } from '../../lib/strapi';
import { getLangFromUrl, useTranslations, getLocalizedPath } from '../../i18n/utils';

export const prerender = false;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// Obtener socios de Strapi
const socios = await getSocios();
---

<BaseLayout title={t('about.pageTitle')} currentPath={getLocalizedPath('/sobre_nosotros', lang)}>
  <PageHeader imageSrc="/images/sommes nous/slide_qsn.gif" imageAlt={t('about.headerAlt')} />

  <div class="container">
    <div class="about-main">
      <div class="row">
        <div class="col-lg-6">
          <h2>{t('about.presentationTitle')}</h2>
          <p>{t('about.presentationText1')}</p>
          <p>{t('about.presentationText2')}</p>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="/images/sommes nous/img_qsn_01.jpg" alt={t('about.facilitiesAlt')} />
        </div>
      </div>
    </div>
  </div>

  <div class="about-inner">
    <div class="container">
      <div class="row mb-4">
        <div class="col-lg-6">
          <div class="left-ab">
            <h2>{t('about.missionTitle')}</h2>
            <p>{t('about.missionText')}</p>

            <InfoCard
              title={t('about.commitmentTitle')}
              items={[
                t('about.commitment1'),
                t('about.commitment2'),
                t('about.commitment3'),
                t('about.commitment4')
              ]}
              variant="list"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-ab">
            <img class="img-fluid rounded mb-4" src="/images/sommes nous/img_qsn_02.png" alt={t('about.missionAlt')} />
          </div>
        </div>
      </div>
    </div>
  </div>

  <PartnersCarousel socios={socios} />
</BaseLayout>
